name: Check

on:
  pull_request:
    paths-ignore:
    - '.github/**'
  workflow_dispatch:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache@v3
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-

    - uses: cachix/install-nix-action@v24
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

    - uses: cachix/cachix-action@v14
      with:
        name: akirak
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: nix profile install .#elixir

    - run: |
        mix local.hex --force
        mix deps.get
        mix deps.compile

    - run: mix format

    - run: mix dialyzer

    # - run: mix credo

    - run: nix develop -c nextls --version

    # - run: mix test

    # Check the flake outputs
    # - run: nix flake check

    - run: mix docs
